{% comment %}
{% endcomment %}
{% load i18n %}
{% if application.status == application.STATUS_ACCEPT %}
<span class="label label-success">{{ app.get_status_display }}</span>
{% elif application.status == application.STATUS_REJECT %}
<span class="label label-danger">{{ app.get_status_display }}</span>
{% elif application.status == application.STATUS_PENDING %}
<span class="label label-warning">{{ app.get_status_display }}</span>
{% else %}
<span class="label label-info">{{ app.get_status_display }}</span>
{% endif %}